.nav {
    background-color: var(--primary);
    padding: 20px;
    color: #EAE6E5;
    min-height: 70px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}


.nav_item {
    display: inline;
    color: #EAE6E5;
    padding: 0 5px 5px 5px;
    font-size: 1.5em;
    margin: 0 10px;
}

.active {
    color: var(--important) !important;
    border-bottom: 4px solid var(--important);
}