.customShape {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 11;
}

.customShape svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 137px;
}

.customShape .shapeFill {
    fill: var(--primary);
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.cardContainer :hover {
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .cardContainer {
        max-width: 1000px;
    }   
}
