@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #12130F;
  --secondary: #EDE9E8;
  --important: #F87666;
  --tertiary: #805E73;
  --white: #ffffff;
  --offWhite: #EAE6E5;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  max-width: 100vw;
}

#wrapper {
  overflow-x: 'hidden'
}

#home {
  background: var(--primary);
  color: var(--secondary);
  min-height: 100vh;
}

#about {
  background: var(--secondary);
  min-height: 100vh;

}
#contact {
background-color: var(--secondary);
min-height: 100vh;

}

#projects {
  background:  var(--white);
  min-height: 100vh;
  
}

#__next {
  margin: 0 ;
  padding: 0
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid rgb(57, 94, 225); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4179d4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #0f1662;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #e1e6ea;
  padding: 20px;
}

.highlight {
  color: var(--important)
}